@keyframes gradientShift {
0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
body{
  min-height: 100vh;
  background: linear-gradient(270deg, #DFA9FF, #B454FF, #EDD8FA);
  background-size: 400% 400%;
  animation: gradientShift 30s ease infinite;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 2em;
  font-family: 'Karia';
  color: #000000;
  text-align: center;  
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 20px auto;
  background: #f9f9f9;
  padding: 60px;
  border-radius: 20px;
  border: 2px solid #B454FF;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  top: 50px;
  position: relative;
}
.small-box {
  border: 2px solid #B454FF;
  padding: 1px;
  margin-bottom: 25px;
  border-radius: 20px;
}
.answer-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around; align-items: center;
  margin: 10px;
  width: 200px;
  height: 50px;
  
  background-color: #f9f9f9;
  border: 2px solid #B454FF;
  font-size: 1em;
  font-family: 'Karia';
  color: #000000;
  text-align: center; 
  }

.answer-button:hover {
  background-color: #EDD8FA;
}

.answer-button.selected {
  background-color: #B454FF;
  color: white;
}
.submit-button {
  font-family: 'Kadwa';
  background-color: #B454FF; 
  border-radius: 15px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition-duration: .4s;
  margin: 100px auto;
}
.submit-button:hover {
  background-color: #EDD8FA;
  color: #B454FF;
  box-shadow:  0 4px 4px rgba(0, 0, 0, 0.5);;
}

  @media screen and (min-width: 700px) {
     .small-box {
  width: 300px;
    }
    .question {
  width: auto;
    }
    .answer-button {
  width: 300px;
  }
  }
    
  @media screen and (min-width:  1024px) {
    .small-box {
  width: 500px;
    }
    .question {
  width: 800px;
    }
    .answer-button {
  width: 500px;
  }
 }
